* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #ff96f9 0%, #c32bac 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 119px;
  color: rgba(255, 255, 255, 0.4);

  text-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
  filter: blur(1px);
}

.button {
  border: 0;
  width: 221px;
  height: 47px;
  background: linear-gradient(136.67deg, #ff96f9 -12.65%, #c32bac 100%);
  box-shadow: 0px 10px 42px 2px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  padding: 0;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:active {
  padding: 0;
  margin: 0;
  box-shadow: 0px 10px 35px 1px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
}

p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  color: rgba(28, 18, 18, 0.6);
}
img {
  position: absolute;

  width: 25%;
  opacity: 0;
  z-index: -1;
}

@-webkit-keyframes heart {
  to {
    -webkit-transform: scale(1.3, 1.2);
  }
}
@keyframes heart {
  from {
    opacity: 0;
  }
  to {
    transform: scale(1.3, 1.2);
    opacity: 1;
  }
}

.active {
  transform: scale(1.1, 1);
  -webkit-animation: heart 0.8s 8 alternate;
  animation: heart.8s 8 alternate;
  transform-origin: center;
  /* opacity: 1; */
}

.imgbg {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.remove {
  display: none;
}
